/*  reset样式 */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, pre, hr, table, th, td, form, input, button, textarea, menu { 
  margin: 0;
  padding: 0; 
}
header, footer, section, article, aside, nav, hgroup, address, figure, menu { 
  display: block; 
}
html, body {
  font-family: "Microsoft YaHei", sans-serif, "Helvetica Neue", Helvetica, Arial, "黑体";
  font-size: 14px;
  color: #262626;
  background: #f5f5f5;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
ol, ul, li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6{ 
  font-size: 100%; 
}
img {
  border: none;
  font-size: 0;
}
input, button, textarea, select { 
  font-family: "Microsoft YaHei", sans-serif, "Helvetica Neue", Helvetica, Arial, "黑体";
  font-size: 14px;
  color: #262626;
  border: 0;
  outline: none;
  background-color: transparent;
}
textarea {
  resize: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
input, textarea, a {
  -webkit-tap-highlight-color: transparent;
}
a, a:visited {
  text-decoration: none
}
a:focus, a:active, a:hover {
  outline: none;
}

/*  设置默认滚动条样式 */
::-webkit-input-placeholder { color: #afbdcc; }
:-moz-placeholder { color: #afbdcc; }
::-moz-placeholder { color: #afbdcc; }
:-ms-input-placeholder { color: #afbdcc; }
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background-color: #f5f5f5; }
::-webkit-scrollbar-track-piece { background-color: #f5f5f5; border-radius: 6px; }
::-webkit-scrollbar-thumb { background-color: #cccccc; border-radius: 6px; }
::-webkit-scrollbar-corner { background-color: #f5f5f5; }

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-1 {
  flex: 1;
}

/* 整体布局 */
.wrap {
  justify-content: space-between;
  .wrap-left, .wrap-right {
    width: 300px;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    padding-top: 64px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px #ccc;
  }
  .wrap-center {
    width: 375px;
    height: 100vh;
    padding-top: 64px;
    box-sizing: border-box;
    .title {
      width: 100%;
      line-height: 60px;
      text-align: center;
    }
    .preview {
      width: 100%;
      height: 560px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 5px 10px #ccc;
    }
  }
}